
:root {
 --accent-color: #FF0070;
 --bg-image: url(../images/cover-image-dark.png);
 --bg-color: #000028;
 --title-description: #000028;
 --title-color: #DB00FF;
 --text-color: #F1B2CE;
}

.page.theme_dark {
 color: var(--accent-color);
 background-color: var(--bg-color);
 background-image: var(--bg-image);
}
